.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: "Lato", sans-serif; 
    background: #ccc;
}

.header {
    font-size: 20px;
    width: 630px;
    padding-bottom: 50px;
}

.text {
    text-decoration: underline;
}

.element {    
    background-image: url("../images/background_cantor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}