.form {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 500px;
}

.form__fieldset {
    background-color: #eee;
    box-shadow: 2px 2px 8px rgb(82, 80, 80);
}

.form__legend {
    margin: 0 auto;
}